* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #C8E0F4;
    font-family: 'helvetica neue';
    font-size: 62.5%;
    min-height: 100rem;
  }
  
  .mainSection {
    background: #031927;
    max-width: 40rem;
    margin: 5rem auto;
    padding: 5rem;
    border-radius: 12px;
  }
  .itemForm{
    max-width: 40rem;
    background: #9DD1F1;
    border-radius: 12px;
  }
  .box {
    max-width: 40rem;
    margin: 5rem auto;
    border-radius: 12px;
  }

  .swal2-popup {
    font-size: 1.6rem !important;
  }
  
  .heading {
    font-size: 3rem;
    color: white;
    text-align: center;
  }
  
  .item {
    min-height: 7rem;
    display: flex;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #031927;
  }

  .formHolder {
    text-align: center;
  }
  
  .textForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .mainInput{
    min-height: 3rem;
    width: 100%;
    border-radius: 12px;
    transition: ease-in-out 0.3s;
  }

  .mainInput:focus{
    outline: 2px solid #508AA8;
  }

  
  
  input[type="checkbox"] {
    margin: 2rem;
  }
  
  p {
    margin: 0;
    padding: 2rem;
    font-size: 2rem;
    font-weight: 200;
    color: #00204a;
  }
  
  
  button {
    min-height: 5rem;
    background-color: #9DD1F1;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 12px;
    margin: 1rem;
    transition: ease-in-out 0.3s
  }
  button:hover{
    background-color: #508AA8;
  }
  
  
  
  ::placeholder {
    color: grey;
    opacity: 1;
  }
  
  footer {
    color: white;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }